<!-- Page Content -->
<div id="page-content-wrapper clearfix">
    <div class="top-cont">
        <a href="">CRM</a> / Customers
        <a href="<%=new_customer_path%>" class="new_button button-1"><span>New Customer</span></a>
    </div>
    <div class="">
        <div class="col-md-12">
            <div class="card card-1">
                <div class="search-panel">
                    <h4>Search</h4>
                </div>
                <div class="form-search">
                    <%= form_tag customers_path, :method => 'get',:remote=> true do %>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="input-field">
                                <input id="code" name="code" type="text" class="validate">
                                <label for="code">Customer Code</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="input-field">
                                <input id="name" name="name" type="text" class="validate">
                                <label for="name">Customer Name</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="input-field">
                                <input id="phone" name="phone" type="text" class="validate">
                                <label for="phone">Phone #</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="input-field">
                                <select name="c_type[]" multiple>
                                    <option value="" disabled selected>Customer Type</option>
                                    <option value="Contractor">Contractor</option>
                                    <option value="Sales_Customer">Sales Customer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="input-field">
                                <input id="country" name="country" type="text" class="validate">
                                <label for="country">Address Country</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="input-field">
                                <input type="date" name="created_at" class="datepicker">
                                <label for="datepicker">Date Created</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="input-field">
                                <%= select_tag(:created_by_id, options_for_select(Array[*User.all.collect {|v,i| [v.full_name,v.id] }]),:prompt => 'Please Select') %>
                                <label>Created By</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-4 col-sm-4"></div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <button type="submit" class="button-1"><span>Search</span></button>
                            <button type="button" class="button-1 clear"><span>Clear</span></button>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-md-12">
            <div class="card card-1">
                <div class="table-panel">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4>List</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="right-icon">
                            <a href="">
                                <md-icon class="material-icons">filter_list</md-icon>
                            </a>
                            <a href="">
                                <md-icon class="material-icons">local_dining</md-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="search_page"><%= render 'customers' %></div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
<script type="text/javascript">
    $('#phone').mask('(000) 000-0000');
    $(".clear").click(function(){
       $(this).closest('form').find("input[type=text], textarea, input[type=email]").val("");
       $(this).closest('form').find("input[type=text], textarea, input[type=email]").focusout();
    });
</script>