.top-alert-box {
  position: fixed;
  top: -300px;
  left: 0px;
  z-index: 30000;
  width: 100%;
  cursor: pointer;
  height: 0px;
}
.top-alert-box .alert {
  max-width: 300px;
  text-align: center;
  margin: 0px auto;
  position: relative;
  padding: 10px 20px;
}
.top-alert-box .alert.alert-success {
  background: #48C76F;
  color: white;
}
.top-alert-box .alert.alert-danger {
  background: #FF5D5D;
  color: white;
}
.top-alert-box .alert.close {
  position: absolute;
  right: 5px;
  top: 0px;
  display: none;
  font-size: 12px;
  text-shadow: none;
}
code {
  padding: 2px 15px;
  color: #FF5D5D;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  display: inline-block;
}
.new_button{
    float: right;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #0aa0da;
    border-color: #0aa0da;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #0aa0da;
    background-color: #0aa0da;
    border-color: #0aa0da;
}
.pagination > li > a, .pagination > li > span {
    color: #0aa0da;
}
.pagination > li > span {
    padding-bottom: 12px;
}
.pagination-section {
    float: right;
    margin-right: 30px;
    margin-top: -5px;
}
.no_data {
    color: white;
    background-color: #FF5D5D;
    border-color: #a94442;
    font-size: 15px;
}
.click_link {
    color: #0aa0da;
    cursor: pointer;
}
.click_link:hover {
    color: #0c1224;
}
.modal{
  background-color: transparent;
}
.modal {
  box-shadow: none;
}