<!-- Top section -->
<div class="top-section">
    <div class="head-panel">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-3">
                <div class="top-head">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="material-icons">menu</i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-9 pad-logo0">
                <div class="sidebar-brand">
                    <a href="#"><img src="<%=image_path("db-logo.png")%>" class="" alt="Clarabyte" /></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12">
                <div class="expanding-bar">
                    <form>
                        <input type="text" name="search" placeholder="Search..">
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="top-icons">
                    <a href=""><i class="material-icons">person_pin</i></a>
                    <a href="">
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="6">notifications_active</div>
                    </a>
                    <a href=""><i class="material-icons">settings</i></a>
                    <%=link_to destroy_user_session_path, :method => :delete ,class:"active" do %>
                    <i class="material-icons">exit_to_app</i>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top section end-->